@model JobFunctionEditViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row mb-2 mt-3">
    <div class="col">
        <div class="card">
            <h5 class="card-header bg-light text-dark">Create Job Function</h5>
            <div class="card-body">
                <form asp-action="Create" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label asp-for="SectionId">Section</label>
                        <select asp-for="SectionId" asp-items="@Model.Sections" class="form-control"></select>
                        <span asp-validation-for="SectionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FunctionName">Job Function</label>
                        <input asp-for="FunctionName" type="text" class="form-control">
                        <span asp-validation-for="FunctionName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FunctionDescription">Description</label>
                        <input asp-for="FunctionDescription" type="text" class="form-control">
                        <span asp-validation-for="FunctionDescription" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>


