@model JobFunctionEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row mb-2 mt-3">
    <div class="col">
        <div class="card">
            <h5 class="card-header bg-light text-dark">Edit Job Function</h5>
            <div class="card-body">
                <form asp-action="Edit" method="post" class="form-horizontal" role="form">
                    <input asp-for="JobFunctionId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="DepartmentId">Department</label>
                        <select asp-for="DepartmentId" asp-items="@Model.Departments" class="form-control"></select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Section</label>
                        <select class="form-control" id="SectionId" name="SectionId" asp-for="SectionId"
                                asp-items="@(new SelectList(string.Empty, "Value","Text"))"></select>
                        <span asp-validation-for="SectionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FunctionName">Job Function Name</label>
                        <input asp-for="FunctionName" type="text" class="form-control">
                        <span asp-validation-for="FunctionName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FunctionCode">Job Function Code</label>
                        <input asp-for="FunctionCode" type="text" class="form-control">
                        <span asp-validation-for="FunctionCode" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
            $(document).ready(function () {
                $('#DepartmentId').change(function () {
                    var url = '@Url.Content("~/")' + "JobFunction/GetSectionByDepartmentId";
                    $.getJSON(url, { departmentId: $("#DepartmentId").val() }, function (data) {
                        var items = '';
                        $("#SectionId").empty();
                        $.each(data, function (i, section) {
                            items += "<option value='" + section.value + "'>" + section.text + "</option>";
                        });
                        $('#SectionId').html(items);
                    });
                });
            });
    </script>
}