body {
    padding-top: 40px;
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

.home-bg {
    background-image: url('../images/bg1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.register-bg {
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.register-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-top: 20px;
}
