body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}

.sidebar-sticky {
    background-color: #2f353a;
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #fff;
}

.sidebar .nav-link .feather {
     margin-right: 4px;
     color: #999;
}

.sidebar .nav-link.active {
     color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*#side-menu {
    background-color: #263238;
    padding: 0px;
}*/

#side-menu h1 {
    color: #fff;
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;
}

#side-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#side-menu a {
    padding: 12px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    display: block;
}

#side-menu a:hover {
    background-color: #63c2de;
    color: #fff;
    display: block;
}

#side-menu .active a {
    color: #fff;
    /*background-color: #293846;*/
}

#side-menu .collapseable li {
    padding-left: 20px;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
}

#side-menu .collapseable a {
    color: #16181d;
    font-size: 14px;
    padding: 12px;
    text-decoration: none;
    display: block;
}

#side-menu .collapseable a:hover {
    color: #fff;
    background-color: #999;
}

#side-menu .collapseable {
    background-color: #d8d8d8;
}


/*
 * Content
 */

[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.card-common {
    transition: all .4s;
}

.card-common:hover {
    transform: translateY(-1px);
}