<div class="row">
    <footer id="admin-footer" class="clearfix">
        <div class="pull-left"><b>Copyright </b>&copy; 2018</div>
        <div class="pull-right">Admin system</div>
    </footer>
</div>