
@{
    ViewData["Title"] = "Line";
}

<h2 class="my-4">Map Viewer By Line</h2>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Line</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">A01</option>
        <option value="2">A02</option>
        <option value="3">A03</option>
    </select>
</div>

<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2 mx-auto">
                <img class="img-fluid" src="~/images/user.png" alt="Card image cap">
            </div>
            <div class="col-lg-8 py-3">
                <h5 class="card-title">SMT LINE : A03</h5>
                <p class="card-text">Operator : Firstname Lastname</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="col-lg-2 py-3">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Profile</button>
                        <button class="btn btn-sm btn-outline-secondary">Replace</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="card-img-bottom" src="~/images/Line1.png" alt="Card image cap">
</div>