@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_LayoutHome.cshtml";
}



<div class="home-bg"></div>

<div class="content">
    <h3>Employee Managements System</h3>
    <p>Automotive & Imaging Auto Mount Department</p>
    <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Register">Register Now</a>
</div>

