@{
    ViewData["Title"] = "Employee Management System";
    Layout = "/Views/Shared/_LayoutHome.cshtml";
}

<header id="showcase">
    <h1>Employee Management</h1>
    <p>Automotive & Imaging Auto Mount Department</p>
    <div class="btn-group">
        <a asp-controller="Account" asp-action="Register" class="button">Register</a>
        <a asp-controller="Account" asp-action="Login" class="button">Sign In</a>
    </div>
</header>