@model RegisterEmployeeViewModel
@{
    ViewData["Title"] = "Register";
}

<!-- content -->
<div id="content">

    <div class="content-inner">

        <h2>Register New Employee</h2>

        <hr />

        <form asp-action="Register" class="form-horizontal" method="post" role="form">

            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label col-sm-2">Employee ID</label>
                <div class="col-sm-10">
                    <input asp-for="EmployeeId" class="form-control" placeholder="Employee ID" />
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="GlobalId" class="control-label col-sm-2">Global ID</label>
                <div class="col-sm-10">
                    <input asp-for="GlobalId" class="form-control" placeholder="Global ID" />
                    <span asp-validation-for="GlobalId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CardId" class="control-label col-sm-2">Card ID</label>
                <div class="col-sm-10">
                    <input asp-for="CardId" class="form-control" placeholder="Card ID" />
                    <span asp-validation-for="CardId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label col-sm-2">Title</label>
                <div class="col-sm-10">
                    <select asp-for="Title" class="form-control">
                        <option value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                    </select>
                    <span asp-validation-for="CardId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label col-sm-2">First Name</label>
                <div class="col-sm-10">
                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label col-sm-2">Last Name</label>
                <div class="col-sm-10">
                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="FirstNameThai" class="control-label col-sm-2">First Name (TH)</label>
                <div class="col-sm-10">
                    <input asp-for="FirstNameThai" class="form-control" placeholder="First Name (Thai)" />
                    <span asp-validation-for="FirstNameThai" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="LastNameThai" class="control-label col-sm-2">Last Name (TH)</label>
                <div class="col-sm-10">
                    <input asp-for="LastNameThai" class="form-control" placeholder="Last Name (Thai)" />
                    <span asp-validation-for="LastNameThai" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary pull-left">Save</button>
                </div>
            </div>

        </form>
    </div>



</div>
