
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid display-table">
    <div class="row display-table-row">

        <!-- side menu -->
        @Html.Partial("_SideMenu")

        <!-- main content area-->
        <div class="col-md-10 display-table-cell valign-top">

            <!-- navbar -->
            <div class="row">
                <header id="nav-header" class="clearfix">

                    <div class="col-md-5">
                        <nav class="navbar-default pull-left">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </nav>
                        <input type="text" class="hidden-sm hidden-xs" id="header-search-field" placeholder="Search" />
                    </div>

                    <div class="col-md-7">
                        <ul class="pull-right">
                            <li id="welcome" class="hidden-xs">Welcome to admin area</li>
                            <li class="fixed-width">
                                <a href="#">
                                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                                    <span class="label label-warning">3</span>
                                </a>
                            </li>
                            <li class="fixed-width">
                                <a href="#">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    <span class="label label-message">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="logout">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                    log out
                                </a>
                            </li>
                        </ul>
                    </div>

                </header>
            </div>

            <!-- content -->
            <div id="content">
                <header>
                    <h2 class="page-title">Register New Employee</h2>
                </header>

                <div class="content-inner">
                    <div class="form-wrapper">
                        <form>
                            <div class="form-group">
                                <label for="employeeID">Employee ID</label>
                                <input type="text" class="form-control" id="employeeID" placeholder="Employee ID" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Global ID</label>
                                <input type="text" class="form-control" id="globalID" placeholder="Global ID" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Card ID</label>
                                <input type="text" class="form-control" id="cardID" placeholder="Card ID" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input type="text" class="form-control" id="password" placeholder="Password" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Title</label>
                                <input type="text" class="form-control" id="title" placeholder="Title" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">First Name</label>
                                <input type="text" class="form-control" id="firstname" placeholder="First Name" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Last Name</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">First Name (Thai)</label>
                                <input type="text" class="form-control" id="firstnamethai" placeholder="First Name (Thai)" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Last Name (Thai)</label>
                                <input type="text" class="form-control" id="firstnamethai" placeholder="First Name (Thai)" />
                            </div>


                            <div class="form-group">
                                <label class="sr-only">Address</label>
                                <textarea class="form-control" placeholder="Address" name="address"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="sr-only">City</label>
                                <input type="text" class="form-control" id="city" placeholder="City" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Postal Code</label>
                                <input type="text" class="form-control" id="postalcode" placeholder="Postal Code" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Phone</label>
                                <input type="text" class="form-control" id="phone" placeholder="Phone" />
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email" />
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" /> publish article when I click on save
                                </label>
                            </div>

                            <div class="clearfix">
                                <button type="submit" class="btn btn-primary pull-right">Save</button>
                            </div>

                        </form>
                    </div>
                </div>



            </div>

            <!-- footer -->
            @Html.Partial("_Footer")
        </div>
    </div>
</div>
