@model SkillEditViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row mb-2 mt-3">
    <div class="col">
        <div class="card">
            <h5 class="card-header bg-light text-dark">Create Skill</h5>
            <div class="card-body">
                <form asp-action="Create" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label asp-for="SkillGroupId">Skill Group</label>
                        <select asp-for="SkillGroupId" asp-items="@Model.SkillGroups" class="form-control"></select>
                        <span asp-validation-for="SkillGroupId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SkillTypeId">Skill Type</label>
                        <select asp-for="SkillTypeId" asp-items="@Model.SkillTypes" class="form-control"></select>
                        <span asp-validation-for="SkillTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SkillName">Skill Name</label>
                        <input asp-for="SkillName" type="text" class="form-control">
                        <span asp-validation-for="SkillName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SkillDescription">Skill Description</label>
                        <input asp-for="SkillDescription" type="text" class="form-control">
                        <span asp-validation-for="SkillDescription" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
