@model LevelEditViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row mb-2 mt-3">
    <div class="col">
        <div class="card">
            <h5 class="card-header bg-light text-dark">Create Level</h5>
            <div class="card-body">
                <form asp-action="Create" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label asp-for="LevelName">Level Name</label>
                        <input asp-for="LevelName" type="text" class="form-control">
                        <span asp-validation-for="LevelName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LevelCode">Level Code</label>
                        <input asp-for="LevelCode" type="text" class="form-control">
                        <span asp-validation-for="LevelCode" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>