@model LevelViewModel

@{
    ViewData["Title"] = "Index";
}

<!-- content -->

@if (Model.EmployeeLevels.Any())
{
    <div class="row">

        <div class="content-inner">
            <table class="table table-bordered table-responsive table-hover">
                <tr>
                    <th>Level ID</th>
                    <th>Level Name</th>
                    <th>Level Code</th>
                </tr>
                @foreach (var lv in Model.EmployeeLevels)
                {

                    <tr>
                        <td>@lv.LevelId</td>
                        <td>@lv.LevelName</td>
                        <td>@lv.LevelCode</td>
                    </tr>

                }
            </table>
        </div>
    </div>
}