@model DepartmentEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row mb-2 mt-3">
    <div class="col">
        <div class="card">
            <h5 class="card-header bg-light text-dark">Create Department</h5>
            <div class="card-body">
                <form asp-action="Edit" method="post" class="form-horizontal" role="form">
                    <input asp-for="DepartmentId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="DepartmentName">Department Name</label>
                        <input asp-for="DepartmentName" type="text" class="form-control">
                        <span asp-validation-for="DepartmentName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DepartmentCode">Department Code</label>
                        <input asp-for="DepartmentCode" type="text" class="form-control">
                        <span asp-validation-for="DepartmentCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DepartmentGroup">Department Group</label>
                        <input asp-for="DepartmentGroup" type="text" class="form-control">
                        <span asp-validation-for="DepartmentGroup" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>