
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Access Denied</h1>
    <p class="lead">Sorry about that, but you don't have permission to access this resource</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign In</a>
</div>
