@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">
    <div class="col-md-8 mx-auto my-5">

        <div class="card text-center">
            <div class="card-header">
                <h1 class="h3 font-weight-normal">Sign in with your credentials</h1>
            </div>
            <div class="card-body">
                <form asp-action="Login" method="post" class="form-signin">

                    <label asp-for="UserName" class="sr-only">Employee ID</label>
                    <input asp-for="UserName" type="text" class="form-control mb-4" placeholder="Employee ID" required="" autofocus="">
                    <label asp-for="Password" class="sr-only">Password</label>
                    <input asp-for="Password" type="password" class="form-control mb-4" placeholder="Password" required="">

                    <button class="btn btn-lg btn-primary btn-block mb-4" type="submit">Sign in</button>
                    <a class="mt-5 mb-3 text-muted" href="#">Forgot Password - Tel 2960</a>
                </form>
            </div>
        </div>

    </div>
</div>