@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">
    <div class="col-md-8 mx-auto my-5">

        <div class="card text-center">
            <div class="card-header">
                <h1 class="h3 font-weight-normal">Sign in with your credentials</h1>
            </div>
            <div class="card-body">

                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Authentication failed : @ViewData.ModelState["Error"].Errors.First().ErrorMessage</strong>
                    </div>
                }

                <form asp-action="Login" method="post" class="form-signin">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        </div>
                        <input asp-for="UserName" type="text" class="form-control" placeholder="Username" required="" autofocus="" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="fa fa-lock"></i></span>
                        </div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="" aria-label="Password" aria-describedby="basic-addon2">
                    </div>

                    <button class="btn btn-lg btn-primary btn-block mb-4" type="submit">Sign in</button>
                    <a class="mt-5 mb-3 text-muted" href="#">Forgot Password - Tel 2960</a>
                </form>
            </div>
        </div>

    </div>
</div>